@{
    ViewData["Title"] = "Change password";
}

<div class="row">
    <div class="col-md-3 d-sm-none d-md-block">
        <partial name="_AccountMenuPartial" />
    </div>
    <div class="col-md-9 col-sm-12">
        <h1>Change password</h1>
        <div class="overflow-hidden">

            <form id="form-change-password" novalidate>
                <div class="form-group">
                    <label for="current-password">Current password</label>
                    <input type="password" name="currentpassword" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="new-password">New password</label>
                    <input type="password" name="newpassword" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="renew-password">Re-new password</label>
                    <input type="password" name="renewpassword" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 my-2"><button type="reset" class="btn btn-block btn-lg btn-outline-primary">Reset</button></div>
                        <div class="col-md-6 my-2"><button type="submit" class="btn btn-block btn-lg btn-primary">Change</button></div>
                    </div>
                </div>
                <div class="alert alert-warning fade hide alert-changepassword" role="alert">
                    <strong>Alert!</strong> <span>You should check in on some of those fields below</span>
                </div>
            </form>
        </div>
    </div>
</div>
@*<script>
        var display;
        $('.box__guid h6').prepend("<span class='far ic--ques mr-2'></span>");
        $('.dropdown-toggle').click(function () {
            $('.sub-menu').toggle(display);
        });
        if (display == true) {
            $('.sub-menu').css("display", "none");
        }
        else {
            $('.sub-menu').css("display", "block");
        }
</script>*@