<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Alert</strong> Please upgrade to get multiple url or user, chanel, playlist.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>