body {
    font-family: 'Quicksand', sans-serif;
}


table {
    text-align: center 
}

.w-99 { width: 99% !important}

.h-99 {
    height: 99% !important
}

.cursor-point { cursor: pointer}

.overflow-scroll { overflow: scroll}

.close {
    z-index: 9
}

.close:focus {
    border: none !important;
    outline: none !important
}

.left-0 {
    left: 0
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.table thead th {
    border: none !important
}

.art {
    padding: 0 !important
}