@model DownloadVideoTiktok.Models.Article

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

@section Styles {
}

<div class="container-fluid">
    <form id="submitForm" method="post" asp-action="Create" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Create article</h6>
                <div>
                    <a href="/admin/article" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa fa-arrow-left fa-sm text-white-50"></i> Back</a>
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fa fa-check fa-sm text-white-50"></i> Submit</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input asp-for="Name" name="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">Code</label>
                            <input asp-for="Code" name="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TypeCode" class="control-label">Type</label>
                            <select class="form-control" asp-for="TypeCode" name="TypeCode">
                                <option value="BLOG">Blog</option>
                                <option value="FAQ">Faq</option>
                                <option value="GUIDE">Guide</option>
                                <option value="CONTENT">Content</option>
                            </select>
                            <span asp-validation-for="TypeCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Language" class="control-label">Language</label>
                            <select class="form-control" asp-for="Language" name="Language">
                                <option value="en">English</option>
                            </select>
                            <span asp-validation-for="Language" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IsActive" class="control-label">Active</label>
                            <select class="form-control" asp-for="IsActive" name="IsActive">
                                <option value="true">Active</option>
                                <option value="false">Unactive</option>
                            </select>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DisplayOrder" class="control-label">DisplayOrder</label>
                            <input asp-for="DisplayOrder" type="number" name="DisplayOrder" class="form-control" value="1" />
                            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Picture" class="control-label">Picture</label>
                            <div class="custom-file">
                                <input type="file" name="Picture" class="custom-file-input" id="pictureFile">
                                <label class="custom-file-label" for="pictureFile">Choose file</label>
                            </div>
                            <span asp-validation-for="Picture" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Summary" class="control-label">Summary</label>
                            @*<textarea asp-for="Summary" class="form-control" rows="5" name="Summary"></textarea>*@
                            <div id="summary"></div>
                            <input type="hidden" name="Summary" />
                            <span asp-validation-for="Summary" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Detail" class="control-label">Detail</label>
                            <div id="editor"></div>
                            <input type="hidden" name="Detail" />
                            @*<textarea asp-for="Detail" class="form-control" rows="15" name="Detail"></textarea>*@
                            <span asp-validation-for="Detail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SEOTitle" class="control-label">SEOTitle</label>
                            <input asp-for="SEOTitle" name="SEOTitle" class="form-control" />
                            <span asp-validation-for="SEOTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SEODescrition" class="control-label">SEODescrition</label>
                            <input asp-for="SEODescrition" name="SEODescrition" class="form-control" />
                            <span asp-validation-for="SEODescrition" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SEOKeywords" class="control-label">SEOKeywords</label>
                            <input asp-for="SEOKeywords" name="SEOKeywords" class="form-control" />
                            <span asp-validation-for="SEOKeywords" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/area/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/area/vendor/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>

        if (CKEDITOR.env.ie && CKEDITOR.env.version < 9)
            CKEDITOR.tools.enableHtml5Elements(document);

        CKEDITOR.config.height = 350;
        CKEDITOR.config.width = 'auto';
        CKEDITOR.config.allowedContent = true;

        $(document).ready(function () {
            CKEDITOR.replace('summary', {
                filebrowserUploadUrl: '/upload-editor'
            });
            CKEDITOR.replace('editor', {
                filebrowserUploadUrl: '/upload-editor'
            });
            bsCustomFileInput.init();
        });

        document.querySelector('#submitForm').onsubmit = function () {
            var detail = document.querySelector('input[name=Detail]');
            detail.value = CKEDITOR.instances.editor.getData();
            var summary = document.querySelector('input[name=Summary]');
            summary.value = CKEDITOR.instances.summary.getData();
            return true;
        };
    </script>
}
